@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1a1a1a;
  --white: #ffffff;
  --light: #f5f5f5;
  --purple: #8a2be2;
  --cyan: #00ffff;
  --salmon: #fa8072;
  --blue: #1e40af;
}

body[theme="black"] {
  background-color: var(--black);
  color: var(--white);
}

body[theme="white"] {
  background-color: var(--white);
  color: var(--black);
}

body[theme="cyan"] {
  background-color: var(--cyan);
  color: var(--black);
}

body[theme="salmon"] {
  background-color: var(--salmon);
  color: var(--black);
}

body[theme="blue"] {
  background-color: var(--blue);
  color: var(--white);
}

body[theme="purple"] {
  background-color: var(--purple);
  color: var(--white);
}

/* Blob animation for achievements section */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animation-delay-6000 {
  animation-delay: 6s;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }